pkgbase = surfshark-yac
	pkgdesc = Yet another Surfshark VPN GUI Client for Arch Linux.
	pkgver = 2.1.0.2503
	pkgrel = 1
	url = https://surfshark.com
	install = surfshark-yac.install
	arch = x86_64
	license = custom:surfshark
	depends = alsa-lib
	depends = at-spi2-core
	depends = gjs
	depends = nss
	depends = org.freedesktop.secrets
	depends = wireguard-tools
	options = !strip
	options = !emptydirs
	source = https://ocean.surfshark.com/debian/pool/main/s/surfshark_2.1.0-2503_amd64.deb
	sha256sums = 6023498a242b417e523800e2314c40ff62abb8679193d7784eef93cd31b9edb3

pkgname = surfshark-yac
